h1 {
  font-size: 1.5em;
}
.container {
  padding: 3em;
  border: 1px solid #333;
}

.menu ul {
  padding: 6px 0 7px 0;
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a{
  color: #494949;
  padding: 6px 3px 4px 3px;
  margin-right: 20px;
  text-decoration: none;
  border-bottom: 3px solid gray;
}

.menu ul li a:hover, ul li a.selected{
  border-bottom-color: black;
}

