<table>
  <thead>
    <tr class="header">
      <th>Key</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @translations.each do |x| %>
      <tr id="translation_<%= x.id %>">
        <td><%= x.key %></td>
        <td>
          <%= best_in_place x, :value,
              :type => :textarea,
              :path => translation_path(x),
              :activator => "#translation_#{x.id}",
              :sanitize => false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>