<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @translations.each do |x| %>
      <tr>
        <td><%= x.key %></td>
        <td><%= best_in_place x, :value, :textarea, [], translation_path(x) %></td>
        <!-- <td><%= link_to "Edit", edit_translation_path(x) %> -->
      </tr>
    <% end %>
  </tbody>
</table>


