<div id="interpret_live_edit">
  <% if @translation %>
    <%= form_for @translation, :url => interpret_translation_path(@translation) do |f| %>
      <%= f.text_area :value, :value => @translation.value  %>
      <br/>
      <%= f.submit %>
    <% end %>
  <% else %>
    This translation does not exists yet. You should go to the interpret backoffice interaface and create it from there, this functionality is not yet supported by this live edition feature
  <% end %>
</div>
