.bundle
.DS_Store
*~
.swp
*.swp
db/*.sqlite3
tmp/**/*
log/*.log
vendor/cache
bin/*.pid
.sass-cache/*
**/.sass-cache/*
**/*/.sass-cache/*

public/uploads
public/system/*
public/stylesheets/cache/*
public/javascripts/cache/*

config/app.yml
config/database.yml
