body {
	margin: auto;
	background-color: #CFCFCF;
	background-repeat: no-repeat;
	background-position: center top;
	#container{
		font-family: $main-font-family;
		font-size: $main-font-size;
		color: $font-color;
		
// LOGIN
		
		#login_box{
		  background-color: #F1F1F1;
      border: 2px solid #999999;
      padding-top: 40px;
      padding-bottom: 30px;
      margin-top: 100px;
      margin-left: 250px;
      p{
        margin-bottom: 20px;
        text-align: center;
      }
      input#user_login{
        border: 1px solid #BBBBBB;
        color: $font-color;
        text-align: center;
        font-size: 16px;
        height: 30px;
        padding: 2px;
        width: 275px;
      }
      input#user_password{
        border: 1px solid #BBBBBB;
        color: $font-color;
        text-align: center;
        font-size: 16px;
        height: 30px;
        padding: 2px;
        width: 275px;
      }
      input#user_submit{
        background-color: #000000;
        color: white;
        border: medium none;
        height: 25px;
        margin-bottom: 10px;
        width: 125px;
      }
      input#user_submit:hover{
        background-color: #666;
      }
		}

// BACKOFFICE
  
    #info_box{
      background-color: #F1F1F1;
      border: 2px solid #999999;
      padding-top: 40px;
      padding-bottom: 20px;
      thead{
        background-color: black;
        color: white;
        height: 25px;
      }
    }

	}
}